<h1>Listing reminder_messages</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Remindersmain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reminder_messages.each do |reminder_message| %>
  <tr>
    <td><%= reminder_message.message %></td>
    <td><%= reminder_message.remindersMain_id %></td>
    <td><%= link_to 'Show', reminder_message %></td>
    <td><%= link_to 'Edit', edit_reminder_message_path(reminder_message) %></td>
    <td><%= link_to 'Destroy', reminder_message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reminder message', new_reminder_message_path %>
