<%= form_for(@reminder_task_list) do |f| %>
  <% if @reminder_task_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reminder_task_list.errors.count, "error") %> prohibited this reminder_task_list from being saved:</h2>

      <ul>
      <% @reminder_task_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :remindersMain_id %><br />
    <%= f.text_field :remindersMain_id %>
  </div>
  <div class="field">
    <%= f.label :triggerAt %><br />
    <%= f.datetime_select :triggerAt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
