<h1>Listing reminder_task_lists</h1>

<table>
  <tr>
    <th>Remindersmain</th>
    <th>Triggerat</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reminder_task_lists.each do |reminder_task_list| %>
  <tr>
    <td><%= reminder_task_list.remindersMain_id %></td>
    <td><%= reminder_task_list.triggerAt %></td>
    <td><%= link_to 'Show', reminder_task_list %></td>
    <td><%= link_to 'Edit', edit_reminder_task_list_path(reminder_task_list) %></td>
    <td><%= link_to 'Destroy', reminder_task_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reminder task list', new_reminder_task_list_path %>
