<h1>Listing reminder_schedules</h1>

<table>
  <tr>
    <th>Countdown</th>
    <th>Remindersmain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reminder_schedules.each do |reminder_schedule| %>
  <tr>
    <td><%= reminder_schedule.countdown %></td>
    <td><%= reminder_schedule.remindersMain_id %></td>
    <td><%= link_to 'Show', reminder_schedule %></td>
    <td><%= link_to 'Edit', edit_reminder_schedule_path(reminder_schedule) %></td>
    <td><%= link_to 'Destroy', reminder_schedule, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reminder schedule', new_reminder_schedule_path %>
